$base-font-family: Helvetica Neue, Helvetica, Open Sans, Arial, sans-serif;
$base-font-line-height: 17px;
$base-font-color: #000000;
$base-font-letter-spacing: 0;
$base-font-style: normal;
$base-font-weight: normal;
$base-font-decoration: none;


$font-size-xs: 11px;
$font-size-sm: 13px;
$font-size-md: 15px;
$font-size-lg: 20px;

$line-height-lg: 24px;

$font-weight-bold: bold;